USE master

/****** Object:  Database [AUTOMOBILI]    Script Date: 5/5/2019 11:53:51 AM ******/
CREATE DATABASE AUTOMOBILI

GO
USE AUTOMOBILI
GO
/****** Object:  Table [dbo].[CHAT]    Script Date: 5/5/2019 11:53:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naslov] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHATOVI]    Script Date: 5/5/2019 11:53:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHATOVI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Sadrzaj] [nvarchar](max) NULL,
	[Poslao] [int] NULL,
	[Primio] [int] NULL,
	[Chat] [int] NULL,
	[Stanje] [int] NULL,
	[Datum] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KORISNICI]    Script Date: 5/5/2019 11:53:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KORISNICI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [nvarchar](25) NULL,
	[MeJL] [nvarchar](30) NULL,
	[LOZINKA] [nvarchar](20) NULL,
	[IME] [nvarchar](25) NULL,
	[PREZIME] [nvarchar](25) NULL,
	[OVLASCENJE] [int] NULL,
	[STANJE] [int] NULL,
	[VREME_REGISTRACIJE] [datetime] NULL,
	[TOKEN] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[PORUKE_PREGLED]    Script Date: 5/5/2019 11:53:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[PORUKE_PREGLED]
AS
SELECT CHAT.ID, CHAT.Naslov, (SELECT MAX(DATUM) FROM CHATOVI WHERE Chat.id = CHATOVI.Chat) as DATUM, (SELECT STANJE FROM CHATOVI WHERE Datum = (SELECT MAX(DATUM) FROM CHATOVI WHERE Chat.id = CHATOVI.Chat)) as Stanje, (SELECT KORISNICI.USERNAME FROM CHATOVI INNER JOIN KORISNICI ON KORISNICI.ID = CHATOVI.Poslao WHERE Datum = (SELECT MIN(DATUM) FROM CHATOVI WHERE Chat.id = CHATOVI.Chat)) as Poceo_chat, (SELECT KORISNICI.USERNAME FROM CHATOVI INNER JOIN KORISNICI ON KORISNICI.ID = CHATOVI.Primio WHERE Datum = (SELECT MIN(DATUM) FROM CHATOVI WHERE Chat.id = CHATOVI.Chat)) as Sagovornik FROM CHAT 
GO
/****** Object:  Table [dbo].[Marka]    Script Date: 5/5/2019 11:53:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marka](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modeli]    Script Date: 5/5/2019 11:53:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modeli](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Model] [varchar](15) NULL,
	[Marka] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Auti]    Script Date: 5/5/2019 11:53:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auti](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Marka] [int] NULL,
	[Model] [int] NULL,
	[Karoserija] [int] NULL,
	[Gorivo] [int] NULL,
	[Vrata] [int] NULL,
	[Lokacija] [int] NULL,
	[Unos_vreme] [datetime] NULL,
	[Cena] [int] NULL,
	[Godiste] [int] NULL,
	[Kilometraza] [int] NULL,
	[Oznaka] [varchar](35) NULL,
	[Kubikaza] [int] NULL,
	[Menjac] [int] NULL,
	[Snaga] [varchar](20) NULL,
	[Registracija] [date] NULL,
	[Volan] [int] NULL,
	[Pogon] [int] NULL,
	[Cena_status] [int] NULL,
	[Zamena] [int] NULL,
	[Registrovan_do] [date] NULL,
	[Boja] [int] NULL,
	[Klima] [int] NULL,
	[Poreklo] [int] NULL,
	[OPIS] [nvarchar](max) NULL,
	[Vlasnik] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[PREGLED]    Script Date: 5/5/2019 11:53:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PREGLED] AS SELECT MArka.Naziv as MARKA, Modeli.Model FROM AUTI INNER JOIN MARKA ON MARKA.ID = AUTI.Marka INNER JOIN MODELI ON MODELI.ID = AUTI.Model WHERE AUTI.ID = 4
GO
/****** Object:  View [dbo].[MSG_PREGLED]    Script Date: 5/5/2019 11:53:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[MSG_PREGLED]
AS
SELECT CHAT.ID, CHAT.Naslov, (SELECT MAX(DATUM) FROM CHATOVI WHERE Chat.id = CHATOVI.Chat) as DATUM, (SELECT STANJE FROM CHATOVI WHERE Datum = (SELECT MAX(DATUM) FROM CHATOVI WHERE Chat.id = CHATOVI.Chat)) as Stanje, (SELECT Poslao FROM CHATOVI WHERE Datum = (SELECT MIN(DATUM) FROM CHATOVI WHERE Chat.id = CHATOVI.Chat)) as Poceo_chat, (SELECT Primio FROM CHATOVI WHERE Datum = (SELECT MIN(DATUM) FROM CHATOVI WHERE Chat.id = CHATOVI.Chat)) as Sagovornik FROM CHAT 

GO
/****** Object:  Table [dbo].[BOJA]    Script Date: 5/5/2019 11:53:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOJA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DODATNA]    Script Date: 5/5/2019 11:53:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DODATNA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [varchar](30) NOT NULL,
	[Kola] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gorivo]    Script Date: 5/5/2019 11:53:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gorivo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Karoserija]    Script Date: 5/5/2019 11:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Karoserija](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KLIMA]    Script Date: 5/5/2019 11:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KLIMA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KORISNIK_STATUS]    Script Date: 5/5/2019 11:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KORISNIK_STATUS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lokacija]    Script Date: 5/5/2019 11:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lokacija](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [varchar](25) NULL,
 CONSTRAINT [pkeylokacija] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menjac]    Script Date: 5/5/2019 11:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menjac](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OVLASCENJA]    Script Date: 5/5/2019 11:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OVLASCENJA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POGON]    Script Date: 5/5/2019 11:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POGON](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POREKLO]    Script Date: 5/5/2019 11:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POREKLO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PORUKE]    Script Date: 5/5/2019 11:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PORUKE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naslov] [nvarchar](30) NULL,
	[Text_poruke] [nvarchar](max) NULL,
	[Datum_slanja] [datetime] NULL,
	[Datum_procitano] [datetime] NULL,
	[status_poruke] [int] NULL,
	[Primio] [int] NULL,
	[Poslao] [int] NULL,
	[Povezanost] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROBNA1]    Script Date: 5/5/2019 11:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROBNA1](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](20) NULL,
	[Datum] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROCITANO]    Script Date: 5/5/2019 11:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROCITANO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SLIKE]    Script Date: 5/5/2019 11:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLIKE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Slika] [nvarchar](400) NULL,
	[Automobil] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status_CENE]    Script Date: 5/5/2019 11:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status_CENE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TELEFONI]    Script Date: 5/5/2019 11:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TELEFONI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TELEFON] [nvarchar](11) NULL,
	[KORISNIK] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VOLAN]    Script Date: 5/5/2019 11:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOLAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vrata]    Script Date: 5/5/2019 11:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vrata](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [varchar](10) NULL,
 CONSTRAINT [pkeyvrata] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZAMENA]    Script Date: 5/5/2019 11:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZAMENA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Auti] ON 

INSERT [dbo].[Auti] ([ID], [Marka], [Model], [Karoserija], [Gorivo], [Vrata], [Lokacija], [Unos_vreme], [Cena], [Godiste], [Kilometraza], [Oznaka], [Kubikaza], [Menjac], [Snaga], [Registracija], [Volan], [Pogon], [Cena_status], [Zamena], [Registrovan_do], [Boja], [Klima], [Poreklo], [OPIS], [Vlasnik]) VALUES (4, 3, 8, 1, 2, 2, 1, CAST(N'2019-03-29T00:00:00.000' AS DateTime), 2000, 1998, 180000, N'1.8', 1789, 2, N'92', NULL, 1, 1, 1, 1, CAST(N'2019-06-19' AS Date), 14, 1, 1, NULL, NULL)
INSERT [dbo].[Auti] ([ID], [Marka], [Model], [Karoserija], [Gorivo], [Vrata], [Lokacija], [Unos_vreme], [Cena], [Godiste], [Kilometraza], [Oznaka], [Kubikaza], [Menjac], [Snaga], [Registracija], [Volan], [Pogon], [Cena_status], [Zamena], [Registrovan_do], [Boja], [Klima], [Poreklo], [OPIS], [Vlasnik]) VALUES (5, 3, 8, 1, 2, 2, 1, CAST(N'2019-03-29T00:00:00.000' AS DateTime), 2300, 1996, 200000, N'1.9 TDI', 1889, 2, N'81', NULL, 1, 2, 1, 2, NULL, 13, 1, 1, NULL, NULL)
INSERT [dbo].[Auti] ([ID], [Marka], [Model], [Karoserija], [Gorivo], [Vrata], [Lokacija], [Unos_vreme], [Cena], [Godiste], [Kilometraza], [Oznaka], [Kubikaza], [Menjac], [Snaga], [Registracija], [Volan], [Pogon], [Cena_status], [Zamena], [Registrovan_do], [Boja], [Klima], [Poreklo], [OPIS], [Vlasnik]) VALUES (6, 3, 8, 1, 2, 2, 2, CAST(N'2019-02-15T00:00:00.000' AS DateTime), NULL, 2000, 300000, N'1.8T', 1789, 3, N'110', NULL, 1, 1, 1, 1, CAST(N'2019-07-01' AS Date), 1, 1, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Auti] OFF
SET IDENTITY_INSERT [dbo].[BOJA] ON 

INSERT [dbo].[BOJA] ([ID], [Naziv]) VALUES (1, N'Plava')
INSERT [dbo].[BOJA] ([ID], [Naziv]) VALUES (2, N'Žuta')
INSERT [dbo].[BOJA] ([ID], [Naziv]) VALUES (3, N'Crvena')
SET IDENTITY_INSERT [dbo].[BOJA] OFF
SET IDENTITY_INSERT [dbo].[CHAT] ON 

INSERT [dbo].[CHAT] ([ID], [Naslov]) VALUES (7, N'pitanje?')
INSERT [dbo].[CHAT] ([ID], [Naslov]) VALUES (8, N'message?')
INSERT [dbo].[CHAT] ([ID], [Naslov]) VALUES (1008, N'poruka')
SET IDENTITY_INSERT [dbo].[CHAT] OFF
SET IDENTITY_INSERT [dbo].[CHATOVI] ON 

INSERT [dbo].[CHATOVI] ([ID], [Sadrzaj], [Poslao], [Primio], [Chat], [Stanje], [Datum]) VALUES (5, N'nekaporuka', 1, 34, 7, 1, CAST(N'2019-04-14T07:29:13.783' AS DateTime))
INSERT [dbo].[CHATOVI] ([ID], [Sadrzaj], [Poslao], [Primio], [Chat], [Stanje], [Datum]) VALUES (6, N'sta bi sa onim?', 34, 1, 8, 1, CAST(N'2019-04-14T07:32:01.847' AS DateTime))
INSERT [dbo].[CHATOVI] ([ID], [Sadrzaj], [Poslao], [Primio], [Chat], [Stanje], [Datum]) VALUES (7, N'odgovor', 34, 1, 7, 1, CAST(N'2019-04-14T07:32:37.187' AS DateTime))
SET IDENTITY_INSERT [dbo].[CHATOVI] OFF
SET IDENTITY_INSERT [dbo].[DODATNA] ON 

INSERT [dbo].[DODATNA] ([ID], [Naziv], [Kola]) VALUES (2, N'Centealna brava', 4)
INSERT [dbo].[DODATNA] ([ID], [Naziv], [Kola]) VALUES (1311, N'Elektricni retrovizori', 99)
INSERT [dbo].[DODATNA] ([ID], [Naziv], [Kola]) VALUES (1337, N'Elektricni podizaci', 102)
SET IDENTITY_INSERT [dbo].[DODATNA] OFF
SET IDENTITY_INSERT [dbo].[Gorivo] ON 

INSERT [dbo].[Gorivo] ([ID], [Naziv]) VALUES (1, N'Dizel')
INSERT [dbo].[Gorivo] ([ID], [Naziv]) VALUES (2, N'Benzin')
INSERT [dbo].[Gorivo] ([ID], [Naziv]) VALUES (3, N'TNG')
SET IDENTITY_INSERT [dbo].[Gorivo] OFF
SET IDENTITY_INSERT [dbo].[Karoserija] ON 

INSERT [dbo].[Karoserija] ([ID], [Naziv]) VALUES (1, N'Limuzina')
INSERT [dbo].[Karoserija] ([ID], [Naziv]) VALUES (2, N'Hecbek')
INSERT [dbo].[Karoserija] ([ID], [Naziv]) VALUES (3, N'Karavan')
SET IDENTITY_INSERT [dbo].[Karoserija] OFF
SET IDENTITY_INSERT [dbo].[KLIMA] ON 

INSERT [dbo].[KLIMA] ([ID], [Naziv]) VALUES (1, N'Nema klimu')
INSERT [dbo].[KLIMA] ([ID], [Naziv]) VALUES (2, N'Manuelna klima')
INSERT [dbo].[KLIMA] ([ID], [Naziv]) VALUES (3, N'Automatska klima')
SET IDENTITY_INSERT [dbo].[KLIMA] OFF
SET IDENTITY_INSERT [dbo].[KORISNICI] ON 

INSERT [dbo].[KORISNICI] ([ID], [USERNAME], [MeJL], [LOZINKA], [IME], [PREZIME], [OVLASCENJE], [STANJE], [VREME_REGISTRACIJE], [TOKEN]) VALUES (1, N'MikiRubio10', N'miki@gmail.com', N'1111', N'Milos', N'Stojanovic', 1, 1, NULL, NULL)
INSERT [dbo].[KORISNICI] ([ID], [USERNAME], [MeJL], [LOZINKA], [IME], [PREZIME], [OVLASCENJE], [STANJE], [VREME_REGISTRACIJE], [TOKEN]) VALUES (2, N'ObriVanKenobi5', N'obren@gmail.com', N'2222', N'Obren', N'Misirlic', 2, NULL, NULL, NULL)
INSERT [dbo].[KORISNICI] ([ID], [USERNAME], [MeJL], [LOZINKA], [IME], [PREZIME], [OVLASCENJE], [STANJE], [VREME_REGISTRACIJE], [TOKEN]) VALUES (6, N'Jelena', N'Jelena@gmail.com', N'Beograd10', N'JElena', N'Stojnic', 2, 2, CAST(N'2019-04-08T18:14:39.330' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[KORISNICI] OFF
SET IDENTITY_INSERT [dbo].[KORISNIK_STATUS] ON 

INSERT [dbo].[KORISNIK_STATUS] ([ID], [Naziv]) VALUES (1, N'Aktivan')
INSERT [dbo].[KORISNIK_STATUS] ([ID], [Naziv]) VALUES (2, N'Neaktivan')
SET IDENTITY_INSERT [dbo].[KORISNIK_STATUS] OFF
SET IDENTITY_INSERT [dbo].[Lokacija] ON 

INSERT [dbo].[Lokacija] ([ID], [Naziv]) VALUES (1, N'Beograd')
INSERT [dbo].[Lokacija] ([ID], [Naziv]) VALUES (2, N'Novi Sad')
INSERT [dbo].[Lokacija] ([ID], [Naziv]) VALUES (3, N'Nis')
SET IDENTITY_INSERT [dbo].[Lokacija] OFF
SET IDENTITY_INSERT [dbo].[Marka] ON 

INSERT [dbo].[Marka] ([ID], [Naziv]) VALUES (1, N'AC')
INSERT [dbo].[Marka] ([ID], [Naziv]) VALUES (2, N'Alfa Romeo')
INSERT [dbo].[Marka] ([ID], [Naziv]) VALUES (3, N'Audi')
SET IDENTITY_INSERT [dbo].[Marka] OFF
SET IDENTITY_INSERT [dbo].[Menjac] ON 

INSERT [dbo].[Menjac] ([ID], [Naziv]) VALUES (1, N'Manuelni 4 brzine')
INSERT [dbo].[Menjac] ([ID], [Naziv]) VALUES (2, N'Manuelni 5 brzina')
INSERT [dbo].[Menjac] ([ID], [Naziv]) VALUES (3, N'Manuelni 6 brzina')
SET IDENTITY_INSERT [dbo].[Menjac] OFF
SET IDENTITY_INSERT [dbo].[Modeli] ON 

INSERT [dbo].[Modeli] ([ID], [Model], [Marka]) VALUES (1, N'80', 3)
INSERT [dbo].[Modeli] ([ID], [Model], [Marka]) VALUES (2, N'90', 3)
INSERT [dbo].[Modeli] ([ID], [Model], [Marka]) VALUES (3, N'100', 3)
SET IDENTITY_INSERT [dbo].[Modeli] OFF
SET IDENTITY_INSERT [dbo].[OVLASCENJA] ON 

INSERT [dbo].[OVLASCENJA] ([ID], [Naziv]) VALUES (1, N'Admin')
INSERT [dbo].[OVLASCENJA] ([ID], [Naziv]) VALUES (2, N'User')
SET IDENTITY_INSERT [dbo].[OVLASCENJA] OFF
SET IDENTITY_INSERT [dbo].[POGON] ON 

INSERT [dbo].[POGON] ([ID], [Naziv]) VALUES (1, N'Prednji')
INSERT [dbo].[POGON] ([ID], [Naziv]) VALUES (2, N'Zadnji')
SET IDENTITY_INSERT [dbo].[POGON] OFF
SET IDENTITY_INSERT [dbo].[POREKLO] ON 

INSERT [dbo].[POREKLO] ([ID], [Naziv]) VALUES (1, N'Domace tablice')
INSERT [dbo].[POREKLO] ([ID], [Naziv]) VALUES (2, N'Na ime kupca')
INSERT [dbo].[POREKLO] ([ID], [Naziv]) VALUES (3, N'Strane tablice')
SET IDENTITY_INSERT [dbo].[POREKLO] OFF
SET IDENTITY_INSERT [dbo].[PORUKE] ON 

INSERT [dbo].[PORUKE] ([ID], [Naslov], [Text_poruke], [Datum_slanja], [Datum_procitano], [status_poruke], [Primio], [Poslao], [Povezanost]) VALUES (1, N'naslov poruke', N'neki tekst!!!!!', CAST(N'2019-04-13T11:47:54.530' AS DateTime), NULL, 2, 34, 1, NULL)
SET IDENTITY_INSERT [dbo].[PORUKE] OFF
SET IDENTITY_INSERT [dbo].[PROBNA1] ON 

INSERT [dbo].[PROBNA1] ([ID], [Naziv], [Datum]) VALUES (2, N'Milos', CAST(N'2019-02-04T00:00:00.000' AS DateTime))
INSERT [dbo].[PROBNA1] ([ID], [Naziv], [Datum]) VALUES (3, NULL, CAST(N'2019-02-04T00:00:00.000' AS DateTime))
INSERT [dbo].[PROBNA1] ([ID], [Naziv], [Datum]) VALUES (4, N'NULL', CAST(N'2019-02-04T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[PROBNA1] OFF
SET IDENTITY_INSERT [dbo].[PROCITANO] ON 

INSERT [dbo].[PROCITANO] ([ID], [Naziv]) VALUES (1, N'DA')
INSERT [dbo].[PROCITANO] ([ID], [Naziv]) VALUES (2, N'NE')
SET IDENTITY_INSERT [dbo].[PROCITANO] OFF
SET IDENTITY_INSERT [dbo].[SLIKE] ON 

INSERT [dbo].[SLIKE] ([ID], [Slika], [Automobil]) VALUES (38, N'Slike/99/0.jpg', 99)
INSERT [dbo].[SLIKE] ([ID], [Slika], [Automobil]) VALUES (39, N'Slike/99/1.jpg', 99)
INSERT [dbo].[SLIKE] ([ID], [Slika], [Automobil]) VALUES (40, N'Slike/99/2.jpg', 99)
SET IDENTITY_INSERT [dbo].[SLIKE] OFF
SET IDENTITY_INSERT [dbo].[Status_CENE] ON 

INSERT [dbo].[Status_CENE] ([ID], [Naziv]) VALUES (1, N'Cena nije fiksna')
INSERT [dbo].[Status_CENE] ([ID], [Naziv]) VALUES (2, N'Cena je fiksna')
SET IDENTITY_INSERT [dbo].[Status_CENE] OFF
SET IDENTITY_INSERT [dbo].[TELEFONI] ON 

INSERT [dbo].[TELEFONI] ([ID], [TELEFON], [KORISNIK]) VALUES (1, N'0638612429', 1)
INSERT [dbo].[TELEFONI] ([ID], [TELEFON], [KORISNIK]) VALUES (2, N'0662334543', 2)
INSERT [dbo].[TELEFONI] ([ID], [TELEFON], [KORISNIK]) VALUES (4, N'0663432134', 6)
SET IDENTITY_INSERT [dbo].[TELEFONI] OFF
SET IDENTITY_INSERT [dbo].[VOLAN] ON 

INSERT [dbo].[VOLAN] ([ID], [Naziv]) VALUES (1, N'Leva')
INSERT [dbo].[VOLAN] ([ID], [Naziv]) VALUES (2, N'Desna')
SET IDENTITY_INSERT [dbo].[VOLAN] OFF
SET IDENTITY_INSERT [dbo].[Vrata] ON 

INSERT [dbo].[Vrata] ([ID], [Naziv]) VALUES (1, N'2/3 vrata')
INSERT [dbo].[Vrata] ([ID], [Naziv]) VALUES (2, N'4/5 vrata')
SET IDENTITY_INSERT [dbo].[Vrata] OFF
SET IDENTITY_INSERT [dbo].[ZAMENA] ON 

INSERT [dbo].[ZAMENA] ([ID], [Naziv]) VALUES (1, N'Bez zamene')
INSERT [dbo].[ZAMENA] ([ID], [Naziv]) VALUES (2, N'Zamena za jeftinije')
INSERT [dbo].[ZAMENA] ([ID], [Naziv]) VALUES (3, N'U istoj ceni')
SET IDENTITY_INSERT [dbo].[ZAMENA] OFF
ALTER TABLE [dbo].[Auti] ADD  CONSTRAINT [vremenska_marka]  DEFAULT (sysutcdatetime()) FOR [Unos_vreme]
GO
ALTER TABLE [dbo].[CHATOVI] ADD  DEFAULT (sysutcdatetime()) FOR [Datum]
GO
ALTER TABLE [dbo].[KORISNICI] ADD  CONSTRAINT [vezan_datum]  DEFAULT (sysutcdatetime()) FOR [VREME_REGISTRACIJE]
GO
ALTER TABLE [dbo].[PORUKE] ADD  DEFAULT (sysutcdatetime()) FOR [Datum_slanja]
GO
ALTER TABLE [dbo].[Auti]  WITH CHECK ADD FOREIGN KEY([Boja])
REFERENCES [dbo].[BOJA] ([ID])
GO
ALTER TABLE [dbo].[Auti]  WITH CHECK ADD FOREIGN KEY([Cena_status])
REFERENCES [dbo].[Status_CENE] ([ID])
GO
ALTER TABLE [dbo].[Auti]  WITH CHECK ADD FOREIGN KEY([Karoserija])
REFERENCES [dbo].[Karoserija] ([ID])
GO
ALTER TABLE [dbo].[Auti]  WITH CHECK ADD FOREIGN KEY([Klima])
REFERENCES [dbo].[KLIMA] ([ID])
GO
ALTER TABLE [dbo].[Auti]  WITH CHECK ADD FOREIGN KEY([Lokacija])
REFERENCES [dbo].[Lokacija] ([ID])
GO
ALTER TABLE [dbo].[Auti]  WITH CHECK ADD FOREIGN KEY([Marka])
REFERENCES [dbo].[Marka] ([ID])
GO
ALTER TABLE [dbo].[Auti]  WITH CHECK ADD FOREIGN KEY([Menjac])
REFERENCES [dbo].[Menjac] ([ID])
GO
ALTER TABLE [dbo].[Auti]  WITH CHECK ADD FOREIGN KEY([Model])
REFERENCES [dbo].[Modeli] ([ID])
GO
ALTER TABLE [dbo].[Auti]  WITH CHECK ADD FOREIGN KEY([Gorivo])
REFERENCES [dbo].[Gorivo] ([ID])
GO
ALTER TABLE [dbo].[Auti]  WITH CHECK ADD FOREIGN KEY([Pogon])
REFERENCES [dbo].[POGON] ([ID])
GO
ALTER TABLE [dbo].[Auti]  WITH CHECK ADD FOREIGN KEY([Poreklo])
REFERENCES [dbo].[POREKLO] ([ID])
GO
ALTER TABLE [dbo].[Auti]  WITH CHECK ADD FOREIGN KEY([Vlasnik])
REFERENCES [dbo].[KORISNICI] ([ID])
GO
ALTER TABLE [dbo].[Auti]  WITH CHECK ADD FOREIGN KEY([Volan])
REFERENCES [dbo].[VOLAN] ([ID])
GO
ALTER TABLE [dbo].[Auti]  WITH CHECK ADD FOREIGN KEY([Vrata])
REFERENCES [dbo].[Vrata] ([ID])
GO
ALTER TABLE [dbo].[Auti]  WITH CHECK ADD FOREIGN KEY([Zamena])
REFERENCES [dbo].[ZAMENA] ([ID])
GO
ALTER TABLE [dbo].[CHATOVI]  WITH CHECK ADD FOREIGN KEY([Chat])
REFERENCES [dbo].[CHAT] ([ID])
GO
ALTER TABLE [dbo].[CHATOVI]  WITH CHECK ADD FOREIGN KEY([Poslao])
REFERENCES [dbo].[KORISNICI] ([ID])
GO
ALTER TABLE [dbo].[CHATOVI]  WITH CHECK ADD FOREIGN KEY([Primio])
REFERENCES [dbo].[KORISNICI] ([ID])
GO
ALTER TABLE [dbo].[CHATOVI]  WITH CHECK ADD FOREIGN KEY([Stanje])
REFERENCES [dbo].[PROCITANO] ([ID])
GO
ALTER TABLE [dbo].[DODATNA]  WITH CHECK ADD FOREIGN KEY([Kola])
REFERENCES [dbo].[Auti] ([ID])
GO
ALTER TABLE [dbo].[KORISNICI]  WITH CHECK ADD FOREIGN KEY([OVLASCENJE])
REFERENCES [dbo].[OVLASCENJA] ([ID])
GO
ALTER TABLE [dbo].[KORISNICI]  WITH CHECK ADD FOREIGN KEY([STANJE])
REFERENCES [dbo].[KORISNIK_STATUS] ([ID])
GO
ALTER TABLE [dbo].[Modeli]  WITH CHECK ADD FOREIGN KEY([Marka])
REFERENCES [dbo].[Marka] ([ID])
GO
ALTER TABLE [dbo].[PORUKE]  WITH CHECK ADD FOREIGN KEY([Poslao])
REFERENCES [dbo].[KORISNICI] ([ID])
GO
ALTER TABLE [dbo].[PORUKE]  WITH CHECK ADD FOREIGN KEY([Povezanost])
REFERENCES [dbo].[PORUKE] ([ID])
GO
ALTER TABLE [dbo].[PORUKE]  WITH CHECK ADD FOREIGN KEY([Primio])
REFERENCES [dbo].[KORISNICI] ([ID])
GO
ALTER TABLE [dbo].[PORUKE]  WITH CHECK ADD FOREIGN KEY([status_poruke])
REFERENCES [dbo].[PROCITANO] ([ID])
GO
ALTER TABLE [dbo].[SLIKE]  WITH CHECK ADD FOREIGN KEY([Automobil])
REFERENCES [dbo].[Auti] ([ID])
GO
ALTER TABLE [dbo].[TELEFONI]  WITH CHECK ADD FOREIGN KEY([KORISNIK])
REFERENCES [dbo].[KORISNICI] ([ID])
GO
/****** Object:  StoredProcedure [dbo].[Brisanje_isteklih]    Script Date: 5/5/2019 11:53:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Brisanje_isteklih] @Vreme DATETIME
AS
SELECT Auti.ID FROM AUTI WHERE Unos_vreme < @Vreme
DECLARE @broj INT
SET @broj = (SELECT COUNT(ID) FROM AUTI  WHERE Unos_vreme < @Vreme) 
DECLARE @pocetak INT
SET @pocetak = 0
WHILE @pocetak < @broj
BEGIN
DECLARE @ID INT
SET @ID = (SELECT TOP 1 Auti.ID FROM Auti WHERE Unos_vreme < @Vreme)
DELETE FROM DODATNA WHERE DODATNA.Kola = @ID
DELETE FROM SLIKE WHERE SLIKE.Automobil = @ID
DELETE FROM AUTI WHERE Auti.ID = @ID
SET @pocetak = @pocetak + 1
END
GO
/****** Object:  StoredProcedure [dbo].[BRISANJE_OGLASA]    Script Date: 5/5/2019 11:53:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[BRISANJE_OGLASA] @ID INT
AS
DELETE FROM Slike WHERE Automobil = @ID
DELETE FROM DODATNA WHERE Kola = @ID
DELETE FROM AUTI WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[Cetovanje]    Script Date: 5/5/2019 11:53:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Cetovanje] @Naslov NVARCHAR(20), @Sadrzaj NVARCHAR(MAX), @Poslao INT, @Primio INT
AS
DECLARE @ID TABLE(id INT)
INSERT INTO CHAT(Naslov) OUTPUT INSERTED.ID INTO @ID VALUES(@Naslov)
DECLARE @BROJ_REDA INT
SET @BROJ_REDA = (SELECT * FROM @ID)
INSERT INTO CHATOVI(Sadrzaj,Poslao,Primio,Chat,Stanje) VALUES(@Sadrzaj, @Poslao, @Primio, @BROJ_REDA, 2)
GO
/****** Object:  StoredProcedure [dbo].[Convo]    Script Date: 5/5/2019 11:53:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Convo] @Chat INT, @Primio INT
AS
SELECT CHATOVI.ID, CHATOVI.Sadrzaj, KORISNICI.USERNAME, Chat, ChatOVI.Stanje,Datum FROM CHATOVI INNER JOIN KORISNICI ON KORISNICI.ID = CHATOVI.Poslao WHERE CHAT = @Chat ORDER BY DATUM ASC
UPDATE CHATOVI SET STANJE = 1 WHERE CHAT = @Chat AND Primio = @Primio AND STANJE = 2
GO
/****** Object:  StoredProcedure [dbo].[Detalj]    Script Date: 5/5/2019 11:53:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Detalj] @ID INT
AS
SELECT AUTI.ID, Marka.Naziv, Modeli.Model, Karoserija.Naziv, Gorivo.Naziv, Vrata.Naziv, Lokacija.Naziv, Unos_vreme, Cena, Godiste, Kilometraza, Oznaka, Kubikaza, Menjac.Naziv, Snaga, Volan.Naziv, Pogon.Naziv, Registrovan_do, Status_CENE.Naziv, ZAMENA.Naziv, BOJA.Naziv, KLIMA.Naziv, Poreklo.Naziv, Opis, Vlasnik FROM AUTI
INNER JOIN Marka ON Marka.ID = AUTI.Marka
INNER JOIN Modeli ON Modeli.ID = Auti.Model
INNER JOIN Karoserija ON Karoserija.ID = Auti.Karoserija
INNER JOIN Gorivo ON Gorivo.ID = Auti.Gorivo
INNER JOIN Vrata ON Vrata.ID = Auti.Vrata
INNER JOIN Lokacija ON Lokacija.ID = Auti.Lokacija 
INNER JOIN Menjac ON Menjac.ID = Auti.Menjac 
INNER JOIN Status_CENE ON Status_CENE.ID = AUTI.Cena_status 
INNER JOIN ZAMENA ON ZAMENA.ID = AUTI.Zamena 
INNER JOIN VOLAN ON VOLAN.ID = AUTI.VOLAN 
INNER JOIN POGON ON POGON.ID = AUTI.POGON 
INNER JOIN BOJA ON BOJA.ID = AUTI.Boja 
LEFT JOIN KLIMA ON KLIMA.ID = Auti.Klima 
INNER JOIN POREKLO ON POREKLO.ID = AUTI.Poreklo WHERE Auti.ID = @ID
SELECT Slike.Slika FROM SLIKE WHERE SLIKE.Automobil = @ID
SELECT DODATNA.Naziv FROM DODATNA WHERE DODATNA.Kola = @ID
GO
/****** Object:  StoredProcedure [dbo].[Izbor]    Script Date: 5/5/2019 11:53:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Izbor] @Vlasnik INT, @offset INT, @tip_pretrage INT
AS
IF (@tip_pretrage = 1)
BEGIN
  DECLARE @Broj_pogodaka INT
  SET @Broj_pogodaka = (SELECT COUNT(ID) FROM AUTI WHERE VLASNIK = @Vlasnik)
    IF (@Broj_pogodaka != 0)
	  BEGIN
	  DECLARE @privremena table(broj_pogodaka INT)
      INSERT INTO @privremena(broj_pogodaka) VALUES(@Broj_pogodaka)
	  SELECT * FROM @privremena
      SELECT AUti.ID, Marka.Naziv as Marka, Modeli.Model, Oznaka, Godiste, (SELECT TOP 1 SLika FROM Slike WHERE AUti.ID = Slike.AUtomobil) as Slika, Vlasnik FROM AUTI INNER JOIN MARKA ON MARKA.ID = AUTI.Marka INNER JOIN modeli on modeli.id = auti.model  WHERE Vlasnik = @Vlasnik ORDER BY ID DESC OFFSET @offset ROWS FETCH NEXT 5 ROWS ONLY
      END
    ELSE
      BEGIN
      SELECT @Broj_pogodaka as BrojPogodaka
      END
END
ELSE
   BEGIN
   SELECT AUti.ID, Marka.Naziv as Marka, Modeli.Model, Oznaka, Godiste, (SELECT TOP 1 SLika FROM Slike WHERE AUti.ID = Slike.AUtomobil) as Slika, Vlasnik FROM AUTI INNER JOIN MARKA ON MARKA.ID = AUTI.Marka INNER JOIN modeli on modeli.id = auti.model  WHERE Vlasnik = @Vlasnik ORDER BY ID DESC OFFSET @offset ROWS FETCH NEXT 5 ROWS ONLY
   END
GO
/****** Object:  StoredProcedure [dbo].[Izmene_selekt]    Script Date: 5/5/2019 11:53:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Izmene_selekt] @ID INT
AS
SELECT * FROM AUTI WHERE ID = @ID
SELECT * FROM DODATNA WHERE DODATNA.Kola = @ID
SELECT ID, Slika FROM Slike WHERE Slike.Automobil = @ID
GO
/****** Object:  StoredProcedure [dbo].[PORUKE_GLAVNI]    Script Date: 5/5/2019 11:53:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PORUKE_GLAVNI] @Korisnik INT
AS
SELECT CHAT.ID, CHAT.Naslov, (SELECT MAX(DATUM) FROM CHATOVI WHERE Chat.id = CHATOVI.Chat) as DATUM, (SELECT TOP 1 STANJE FROM CHATOVI WHERE Primio = @Korisnik  AND CHAT = CHAT.ID ORDER BY DATUM DESC) as Stanje, (SELECT Poslao FROM CHATOVI WHERE Datum = (SELECT MIN(DATUM) FROM CHATOVI WHERE Chat.id = CHATOVI.Chat ) AND Poslao = @Korisnik) as Poceo_chat, (SELECT Primio FROM CHATOVI WHERE Datum = (SELECT MIN(DATUM) FROM CHATOVI WHERE Chat.id = CHATOVI.Chat) AND Primio = @Korisnik) as Sagovornik FROM CHAT ORDER BY DATUM DESC
GO
/****** Object:  StoredProcedure [dbo].[PROBNA]    Script Date: 5/5/2019 11:53:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--proba
CREATE PROC [dbo].[PROBNA] @ID INT, @IME NVARCHAR(30)
AS
SELECT * FROM ( SELECT CHAT.ID, CHAT.Naslov, (SELECT MAX(DATUM) FROM CHATOVI WHERE Chat.id = CHATOVI.Chat) as DATUM, (SELECT TOP 1 STANJE FROM CHATOVI WHERE CHATOVI.Primio = @ID AND Chat.id = CHATOVI.Chat ORDER BY DATUM DESC ) as Stanje, (SELECT KORISNICI.USERNAME FROM CHATOVI INNER JOIN KORISNICI ON KORISNICI.ID = CHATOVI.Poslao WHERE Datum = (SELECT MIN(DATUM) FROM CHATOVI WHERE Chat.id = CHATOVI.Chat)) as Poceo_chat, (SELECT KORISNICI.USERNAME FROM CHATOVI INNER JOIN KORISNICI ON KORISNICI.ID = CHATOVI.Primio WHERE Datum = (SELECT MIN(DATUM) FROM CHATOVI WHERE Chat.id = CHATOVI.Chat))as Sagovornik FROM CHAT ) AS GRUPNI WHERE Sagovornik = @IME or Poceo_chat = @IME ORDER BY DATUM DESC
GO
/****** Object:  StoredProcedure [dbo].[unosPoruke]    Script Date: 5/5/2019 11:53:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[unosPoruke] @id INT,@salje INT, @sadrzaj NVARCHAR(1000)
AS
SELECT CHATOVI.ID,Sadrzaj,korisnici.username,CHATOVI.Stanje,Datum FROM CHATOVI INNER JOIN KORISNICI ON KORISNICI.ID = CHATOVI.Poslao WHERE PRIMIO = @salje AND CHATOVI.Chat = @id and CHATOVI.STANJE = 2
--SELECT * FROM CHATOVI WHERE PRIMIO = @salje AND CHATOVI.Chat = @id AND Stanje = 2
DECLARE @meta INT
SET @meta = (SELECT PRIMIO FROM (SELECT PRIMIO FROM CHATOVI WHERE CHAT = @id AND DATUM = (SELECT MIN(DATUM) FROM CHATOVI WHERE CHATOVI.CHAT = @id) UNION SELECT POSLAO FROM CHATOVI WHERE CHAT = @id AND DATUM = (SELECT MIN(DATUM) FROM CHATOVI WHERE CHATOVI.CHAT = @id)) as STAvka WHERE PRIMIO != @salje)
INSERT INTO CHATOVI(SADRZAJ,POSLAO,PRIMIO,CHAT,STANJE) VALUES(@sadrzaj,@salje,@meta,@id,2)
GO
USE [master]
GO
